<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.friendpie">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserHomeScreen.UserHomeScreen_Activity"></activity>
        <activity android:name=".SignUp.F_MusicGenreActivity" />
        <activity
            android:name=".SignUp.E_HobbyActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".SignUp.D_PersonalInfoActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".SignUp.C_OTPActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".SignUp.A_SignUpActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".SignIn.SignInActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".Homepage.HomepageActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp.B_PhoneActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

    </application>

</manifest>